name: test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install "poetry==1.2.2" && poetry install
      - name: Run test suite
        run: |
          poetry run python -m pytest \
          --nbmake \
          --nbmake-find-import-errors \
          --nbmake-timeout=20 -vvv